@using StudentResultHistoryFinder.Models

@{
    ViewBag.Title = "ShowSelfStudyRegistration";
    List<SelfStudyRegistration> selfStudyStudentInformation = ViewBag.information;
}

@section style
{

    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
}




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show Student Information</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        label.error {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>

    <br><br><br><br><br>
<div>


    <form class="form-horizontal" method="POST" id="showSelfStudySubjectInformationForm">

        <fieldset>
            <legend align="center">Show Enroll Course Information</legend>

            <div class="form-group">
                <label for="StudentId" class="col-sm-2 control-label">Student Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="StudentId" name="StudentId" placeholder="Student Id">

                </div>
            </div>





            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
            </div>

            @if (selfStudyStudentInformation != null)
            {
                if (selfStudyStudentInformation.Count == 0)
                {
                    <div class="form-group">
                        <label for="" class="col-sm-offset-3 col-sm-3 control-label label-danger">Sorry This Id Has Not been Enrolled With Any Course</label>
                    </div>
                }
                else
                {
                    <div>
                        <table id="myTable" class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Course Code</th>
                                <th>Course Name</th>
                                <th>Course Credit</th>
                                <th>Enroll With Batch</th>


                            </tr>
                            </thead>
                            <tbody>
                            @foreach (SelfStudyRegistration aSelfStudyRegistration in selfStudyStudentInformation)
                            {
                                <tr>
                                    <td>@aSelfStudyRegistration.CourseCode</td>
                                    <td>@aSelfStudyRegistration.CourseName</td>
                                    <td>@aSelfStudyRegistration.CourseCredit</td>
                                    <td>@aSelfStudyRegistration.SelfStudyBatch</td>

                                </tr>
                            }
                            </tbody>
                        </table>


                    </div>


                }


            }


        </fieldset>



    </form>
</div>



</body>
</html>

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script>

        $(document).ready(function () {

            $('#myTable').dataTable();

            $("#showSelfStudySubjectInformationForm").validate({
                rules: {
                    StudentId: "required",
                    
                       },

                messages:
                {
                    StudentId: "Please Provide Student Id",
                    
                }


            });









        });
    </script>
}






